@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
.team {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.showcase {
    min-height: 300px;
    background: url(https://image.freepik.com/free-photo/authentication-standing-physician-stylish-icons_1134-904.jpg) center center / cover;
    display: flex;
    position: relative;
    z-index: 1;
}
.showcase::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: -1;
}